<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= form_with(model: @user_comment, remote: true, id: "userCommentForm") do |form| %>
      <div class="field">
        <%= form.text_area :body, cols: "60", rows: "4", label: false %>
      </div>

      <div class="actions">
        <%= form.submit 'Post', class: 'btn btn-success', id: "submitComment" %>
      </div>
    <% end %>
    
  </div>
  <div class="col-md-2"></div>
</div>

<div class="comment-content">
  <%= render partial: "comments", locals: {comments: @user_comments} %>
</div>
